# TeX
*.aux
*.log
*.toc
*.out
# With PDFTeX, ignore DVIs
*.dvi
# BibTeX
*.bbl
*.blg
# Makeindex
*.idx
*.ilg
*.ind
# LatexMk
*.fdb_latexmk
# SyncTeX
*.synctex.gz
# Other
*.zip


.DS_Store
Icon?
thumbs.db
